@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


*{
    font-family: Poppins,sans-serif;  
}


@theme {
  --color-bgclr: oklch(30.409% 0.01777 262.257);
  --color-navbgclr: oklch(23.356% 0.01308 258.405);
  --color-btnbgclr: oklch(83.745% 0.14298 194.807);
  --color-btntxtclr: oklch(23.356% 0.01308 258.405);
  --color-cardbg: oklch(23.356% 0.01308 258.405);

  --color-titleText: oklch(100% 0.00011 271.152);
  --color-secText: oklch(71.366% 0.01926 261.373);
  --color-headText: oklch(79.713% 0.13394 211.567);

}

@utility grid-cols-autofit {
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
}